/*DO NOT REMOVE FOR DEFAULT CSS*/
/*csslint
  empty-rules: false,
  important: false,
  adjoining-classes: false,
  order-alphabetical: false,
  ids: false,
  box-model: false,
  zero-units: false,
  known-properties: false,
*/
/*
* WIDGET HEADER
*/

/* .bar .bar-brand{
    height: 52px;
    padding: 10px 12px;
}

.bar-brand__title{
    font-size: 20px;
    padding-top: 6px;
} */

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
fieldset,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
	font-family: "Nunito" !important;
}


/**
 * Ionic override
 */

.item {
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	margin: 12px 16px;
	padding: 10px;
	border-radius: 4px;
}

.item-thumbnail-left .item-content .item-image,
.item-thumbnail-left .item-content>img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left>img:first-child {
	max-width: 100px;
}

/**
 * .item within list view
 */

.item.list-item i.icon.ion-chevron-right {
	display: none;
}

ion-view.pane {
	background: #F9F9F9;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
	padding-left: 126px;
}


/**
 * Bar
 */

.bar.bar-brand {
	background: #ed1b2e;
	font-family: "Nunito";
	font-weight: 700;
	background-image: linear-gradient(#ed1b2e, #ed1b2e) !important;
}

.bar.bar-brand .button:nth-last-child(2) .lang-select-dropdown a.selected {
	color: #ed1b2e;
}

.bar.bar-brand .button:nth-last-child(2) .lang-select-dropdown a:hover:not(.selected) {
	color: #444;
}

.brand-icons>.icon {
	color: #0500FF;
	opacity: .4;
}


/**
 * Chat bubble
 */

.typing-indicator span {
	background-color: #4a4a4a;
}


/**
 * Buttons
 */

.button.button-positive,
.button.button-brand {
	background-color: #ed1b2e;
}

.button.button-positive.activated,
.button.button-brand.activated {
	background-color: #ed1b2e;
}

.button-link {
	color: #ed1b2e;
}


/**
 * carousel panel
 */

.carousel-panel {
	margin-bottom: 16px !important;
	height: 160px;
}

.carousel-panel--lg {
	height: 200px;
}

.carousel {
	height: 160px;
	margin-bottom: 14px !important;
}

.carousel--message-bubble {
	height: 200px;
}

.carousel--detail-panel .carousel__item--image {
	border-radius: 8px;
	height: 160px;
}

.carousel .swiper-button-next svg path,
.carousel .swiper-button-prev svg path {
	fill: #ed1b2e;
}


/**
 * chat detail
 */

.chat-detail .detail-title.larger {
	font-size: 18px !important;
	font-weight: bold;
}

.chat-detail__panels .item {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
	margin: 0;
	padding: 8px 20px;
}

.chat-detail .text-description {
	font-size: 13px;
}

.chat-detail .text-description.limit-height {
	height: 3em;
	/* support only chrome at the moment */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.chat-detail .detail-header {
	color: #333;
	font-weight: bold;
	font-size: 13px !important;
	text-transform: capitalize;
}

.chat-detail-list {
	background-color: #ed1b2e;
}

.chat-detail-list .list-header {
	text-transform: uppercase;
	padding: 12px 16px;
	font-size: 13px;
}

.chat-detail-list .list-body {
	border-color: #ececec;
}

.chat-detail-list .list-body .list-item {
	border-color: #ececec;
}

.chat-detail-list .list-body .list-item p {
	text-transform: uppercase;
	font-size: 13px;
}

.chat-detail-list .list-body .list-item button {
	font-size: 13px;
	color: #ed1b2e;
}

.detail-description {
	margin-bottom: 14px;
	font-size: 13px;
}


/**
 * Item single view
 */

.item-single-view {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
	margin: 0;
	padding: 24px;
}

.item-single-view img {
	width: 100%;
}

.item-single-view .item {
	margin: 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
	padding: 0;
	margin-bottom: 16px;
}

.item-single-view h5.detail-header {
	font-size: 14px !important;
	text-transform: capitalize;
}

.item-single-view h5.detail-header.larger {
	font-size: 14px !important;
}


/**
 * Feedback panel
 */

.feedback-panel .feedback-panel__label {
	width: 64px;
}

#iconverse .bar-chat-footer {
	background: #f9f9f9;
	box-shadow: 0px 0px 0px white;
}

#iconverse .bar-chat-footer .voice-btn svg path,
#iconverse .bar-chat-footer .send-btn svg path {
	fill: #ed1b2e;
}

#iconverse .bar-chat-footer {
	background: #f9f9f9;
	box-shadow: 0px 0px 0px white;
}

#iconverse .chat-prompt-btn {
	background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(277deg, #ed1b2e, #ed1b2e 40%, #ed1b2e);
}

#iconverse .chat-prompt-btn:hover {
	background: #ed1b2e;
}

#iconverse .choices-panel .chat-prompt-btn {
	margin-bottom: 8px;
    display: inline-block;
    float: right;
}

#iconverse .chat-prompt-btn {
	text-align: right;
	box-shadow: 0px 0px 0px white;
	border: 0px;
	margin-right: 0;
	background-image: linear-gradient(#fff, #fff);
}

#iconverse .chat-prompt-btn:hover {
	background: #fff;
}

#iconverse .chat-prompt-btn:hover .text {
	color: #fff;
	background-color: #ed1b2e;
	border-top-right-radius: 0px;
}

#iconverse .chat-prompt-btn .text {
	display: inline-block;
	border: 1px solid #ed1b2e;
	color: #ed1b2e;
	border-radius: 24px;
	transition: background-color .3s ease-in-out, border-radius .12s ease-in-out;
	padding: 8px 12px;
}

#iconverse .chat-log chat-bubble div.last-message .chat-bubble.system {
	border-bottom-left-radius: 0px;
}

#iconverse .chat-log .chat-options-holder .toggle-showall-btn {
	width: 100%;
	border: 0px;
	text-align: right;
	margin-top: 4px;
}

#iconverse .chat-log .chat-options-holder .toggle-showall-btn a {
	display: inline-block;
	padding: 8px 12px;
	color: #ed1b2e;
	transition: all .3s ease;
	border-radius: 24px;
}

#iconverse .chat-log .chat-options-holder .toggle-showall-btn a:hover {
	background-color: #ed1b2e;
	color: #fff;
}

#iconverse .chat-log .has-attachment.has-payload-btn .chat-bubble.system {
	overflow: inherit;
	margin-bottom: 0;
}

#iconverse .chat-log .has-attachment.has-payload-btn .chat-bubble.system .open-payload-btn {
	background: #ed1b2e;
}

#iconverse .chat-log .chat-bubble.system {
	background-color: #f9f9f9;
	border-top-right-radius: 24px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 24px;
}

#iconverse .chat-log .chat-bubble.system.holds-typing-indicator {
	border-bottom-left-radius: 0px !important;
}

#iconverse .chat-log .chat-bubble.system p {
	margin-bottom: 0;
}

#iconverse .chat-log .chat-bubble.system.has-attachment {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px !important;
	padding: 0px;
}

#iconverse .chat-log .chat-bubble.system.has-attachment .preline-text {
	padding: 8px 12px;
}

#iconverse .chat-log .chat-bubble.system.has-attachment .typing-indicator {
	padding: 8px 12px;
}

#iconverse .chat-log .chat-bubble.system.has-attachment .open-payload-btn {
	color: #fff;
	background-color: #ed1b2e;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	padding: 8px 12px;
	text-align: center;
	cursor: pointer;
}

#iconverse .chat-log .chat-bubble.user {
	background-color: #ed1b2e;
	border-top-right-radius: 0;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 16px;
}


/**
 * Helpers
 */

.container-elipsis {
	white-space: inherit;
	display: block;
	max-width: 100%;
	margin: 0 auto;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bar.bar-brand #menuSelectBtn:hover,
.bar.bar-brand #menuSelectBtn.is-open,
.bar.bar-brand #backBtn:hover{
  background: #ed1b2e;
}

.chat-web-fallback-item__header-logo {
  background: #ed1b2e !important;
}

.chat-web-fallback-item__header-title-main {
  color: #ed1b2e !important;
}

 em {
	color: #000 !important;
    background-color: #e2d6f9 !important;
    padding: 1px 1px !important;
   font-weight:bold;
}

