<ion-side-menus enable-menu-with-back-views="true">
  <div id="chatLandingPage" ng-if="app.appOptions.isLandingPage && app.isShowLandingPage">
    <div
      ng-if="app.appOptions.customLandingPageHtml"
      id="customLandingPage"
      compile="app.sanitizedCustomHtml"
    ></div>
    <div ng-if="!app.appOptions.customLandingPageHtml" class="landing-page-container">
      <div class="welcome-message">
        <h2 class="fade-up">
          Hi, I'm <b>{{ app.appOptions.appName }}</b> :)
        </h2>
        <p class="fade-up animation-delay--xs">Click on the button to start!</p>
        <div class="button pop-in" ng-click="app.startChatFromLanding()">Start</div>
      </div>
    </div>
  </div>
  <!-- START: Main App Content -->
  <!-- Use ng-show here to load the element, as the chat controller need to load immediate to restore past messages -->
  <ion-side-menu-content ng-show="!app.isShowLandingPage">

    <!-- HEADER: DEFAULT (MAIN) -->
    <div ng-if="app.appOptions.headerStyle === 'default' && !app.isDetailView" class="bar bar-brand fade-in-down">
      <!-- TITLE -->
      <span class="bar-brand__title pop-in animation-delay">{{ app.appOptions.appName }}</span>

      <!-- Spacer -->
      <div class="flex-spacer"></div>

      <!-- Language Selector -->
      <div
        ng-if="app.appOptions.isShowLangSelect"
        id="langSelectBtn"
        ng-class="{'is-open': app.isLangSelectOpen}"
        ng-click="app.toggleLangSelect()"
        class="button icon pop-in animation-delay"
      >
        <span>{{ app.selectedLanguage.shortLabel }}</span>
        &nbsp;
        <svg
          class="icon-chevron-down"
          aria-hidden="true"
          focusable="false"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"
            fill="#fff"
          />
        </svg>
        <div class="dropdown-menu" ng-if="app.isLangSelectOpen" click-outside="app.closeLanguageMenu()">
          <div class="dropdown-menu__tip"></div>
          <a
            ng-repeat="language in app.languages"
            ng-click="app.selectLanguage(language)"
            ng-class="{'selected': language === app.selectedLanguage }"
            >
            <span>{{ language.label }}</span>
            <svg
              ng-if="language === app.selectedLanguage"
              width="16"
              height="13"
              viewBox="0 0 16 13"
            >
              <path d="M13.5233 0L6 7.79251L2.476 4.41667L0 6.92008L6 12.8L16 2.50274L13.5233 0Z" fill="#34AA44"/>
            </svg>
            </a>
        </div>
      </div>

      <!-- Menu -->
      <div
        id="menuSelectBtn"
        ng-class="{'is-open': app.isMenuSelectOpen}"
        ng-click="app.toggleMenuSelect()"
        class="button icon pop-in animation-delay"
      >
        <svg width="21" height="5" viewBox="0 0 21 5" fill="none">
          <circle cx="2.5" cy="2.5" r="2.5" fill="white" />
          <circle cx="10.5" cy="2.5" r="2.5" fill="white" />
          <circle cx="18.5" cy="2.5" r="2.5" fill="white" />
        </svg>
        <div class="dropdown-menu" ng-if="app.isMenuSelectOpen" click-outside="app.closeContextMenu()">
          <div class="dropdown-menu__tip"></div>
          <a ng-click="app.restartConvo()">
            <svg
              class="mr-10"
              aria-hidden="true"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 12 12"
            >
              <path d="M6.01101 9.75503e-06C7.61429 0.00288879 9.06997 0.634679 10.1447 1.66174L11.0088 0.797671C11.3746 0.431889 12 0.690953 12 1.20826V4.45162C12 4.77231 11.74 5.03227 11.4194 5.03227H8.17599C7.65869 5.03227 7.39962 4.40684 7.7654 4.04103L8.77548 3.03095C8.02877 2.33178 7.06256 1.94449 6.03605 1.93564C3.80061 1.91633 1.9163 3.7254 1.93563 6.03504C1.95397 8.22603 3.73026 10.0645 6 10.0645C6.99501 10.0645 7.93541 9.70941 8.67651 9.05914C8.79126 8.95847 8.96456 8.96459 9.07251 9.07252L10.0321 10.0321C10.1499 10.15 10.1441 10.3421 10.0204 10.4538C8.9565 11.4148 7.5466 12 6 12C2.68631 12 2.41937e-05 9.31373 1.62521e-10 6.00006C-2.41934e-05 2.69016 2.70111 -0.00591766 6.01101 9.75503e-06Z" fill="#404040"/>
            </svg>
            <span>Restart Conversation</span>
          </a>
          <a
            id="printChatLogBtn"
            ng-click="app.printChatLog()"
          >
            <svg class="mr-10" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="print_24px">
              <path id="icon/action/print_24px" fill-rule="evenodd" clip-rule="evenodd" d="M19 8H18V3H6V8H5C3.34 8 2 9.34 2 11V17H6V21H18V17H22V11C22 9.34 20.66 8 19 8ZM8 5H16V8H8V5ZM16 19V17V15H8V19H16ZM18 15V13H6V15H4V11C4 10.45 4.45 10 5 10H19C19.55 10 20 10.45 20 11V15H18ZM17 11.5C17 10.9477 17.4477 10.5 18 10.5C18.5523 10.5 19 10.9477 19 11.5C19 12.0523 18.5523 12.5 18 12.5C17.4477 12.5 17 12.0523 17 11.5Z" fill="#404040"/>
              </g>
            </svg>
            <span>Print Chat Log</span>
          </a>
          <!-- <a
            ng-if="app.appOptions.isFeedbackButtonVisible"
            id="openFeedbackBtn"
            ng-click="app.initFeedbackModalFromDropdown()"
          >
            <svg
              class="mr-10"
              aria-hidden="true"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 14 14"
            >
              <path d="M13.283 4.47969L9.45993 3.92309L7.75148 0.465181C7.5979 0.156192 7.29832 0 6.99873 0C6.70097 0 6.40348 0.154103 6.24937 0.465181L4.5404 3.92283L0.717086 4.4789C0.0314592 4.57816 -0.243314 5.42154 0.253733 5.90475L3.01948 8.59501L2.36494 12.3948C2.27196 12.9376 2.70527 13.373 3.19056 13.373C3.31933 13.373 3.45176 13.3424 3.57896 13.275L6.99925 11.4812L10.4193 13.2756C10.5462 13.3422 10.6784 13.3725 10.8066 13.3725C11.2924 13.3725 11.7265 12.9386 11.6336 12.3956L10.9798 8.59554L13.7461 5.90579C14.2434 5.42259 13.9686 4.57894 13.283 4.47969ZM10.1032 7.69756L9.62997 8.15778L9.74176 8.80762L10.2516 11.7708L7.58406 10.3711L6.99951 10.0645L7.0003 1.77976L8.33315 4.4776L8.62517 5.06867L9.27841 5.16375L12.262 5.59811L10.1032 7.69756Z" fill="#404040"/>
            </svg>
            <span>Rate this Conversation</span>
          </a>
          <a
            ng-if="app.isLivechatAvailable && app.appOptions.isShowLiveChatButton"
            id="openLivechatBtn"
            ng-click="app.openLivechatBtnOnClicked()"
          >
            <svg
              class="mr-10"
              aria-hidden="true"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 29.75 29.75"
            >
              <path d="M26.573,4.026H5.163c-1.884,0-3.413,1.707-3.413,3.321v12.976c0,0.001,0,0.002,0,0.003l-0.004-0.003L0,25.724l4.913-2.717
                c0.084,0.006,0.164,0.02,0.25,0.02h21.41c1.884,0,3.177-1.09,3.177-2.703V7.347C29.75,5.733,28.457,4.026,26.573,4.026z
                M27.75,20.323c0,0.538-0.548,0.703-1.177,0.703H5.163c-0.629,0-1.413-0.165-1.413-0.703V7.347c0-0.539,0.784-1.321,1.413-1.321
                h21.41c0.629,0,1.177,0.782,1.177,1.321V20.323z"/>
            </svg>
            <span>Open Livechat</span>
          </a> -->
        </div>
      </div>

      <!-- Close button -->
      <a
        id="closeChatBtn"
        ng-if="app.checkIsMobile()"
        ng-click="app.onCloseChatButtonClick()"
        class="button icon button-clear pop-in animation-delay--xs"
      >
        <svg width="14" height="14" viewBox="0 0 14 14">
          <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" >
        </svg>
      </a>
    </div>

    <!-- HEADER: DEFAULT (DETAIL) -->
    <div
      ng-if="app.appOptions.headerStyle === 'default' && app.isDetailView" class="bar bar-brand fade-in-down"
    >
      <a
        id="backBtn"
        ng-click="app.historyBack()"
        class="button icon button-clear pop-in animation-delay--xs"
      >
        <svg width="10" height="16" viewBox="0 0 10 16">
          <path d="M10 14L7.962 16L1.65306e-06 8L7.962 -1.78168e-07L10 2L4 8L10 14Z"/>
        </svg>
      </a>

      <!-- Detail view title -->
      <span class="bar-brand__title pop-in animation-delay">{{ app.detailViewTitle }}</span>

      <!-- Spacer -->
      <div class="flex-spacer"></div>

      <!-- Close button -->
      <a
        id="closeChatBtn"
        ng-if="app.checkIsMobile()"
        ng-click="app.onCloseChatButtonClick()"
        class="button icon button-clear pop-in animation-delay--xs"
      >
        <svg width="14" height="14" viewBox="0 0 14 14">
          <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" >
        </svg>
      </a>
    </div>

    <!-- APP BODY CONTENT -->
    <ion-nav-view name="menuContent"> </ion-nav-view>
  </ion-side-menu-content>
  <!-- END: Main App Content -->

  <!-- START: Side Bar Content -->
  <ion-side-menu side="left" is-enabled="false">
    <ion-header-bar class="bar-positive bar-brand"> </ion-header-bar>
    <ion-content>
      <ion-list>
        <!-- <ion-item menu-close ui-sref="app.dashboard">
          Dashboard
        </ion-item> -->
        <!-- <ion-item menu-close ui-sref="app.chat">
          Chat With GARY
        </ion-item>

        <ion-item menu-close ng-click="app.openUserGuide()">
          View User Guide
        </ion-item>

        <ion-item style="font-size: 12px;text-align: center;border-bottom: none;">
            Version 1.3.2 (Trial)
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <!-- END: Side Bar Content -->
</ion-side-menus>
